$frame-bg: rgb(249,249,213);
$frame-header: rgb(187,187,161);

.container {
  width: 6em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $frame-header;
  border-bottom: 1px solid black;
  text-align: center;
  height: 50%;
}

.body{
  background-color: $frame-bg;
  text-align: center;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
